@model int;
@{
    ViewData["Title"] = "Home Page";
    var userID = ViewData["userID"];
    var userName = ViewData["userName"];
    var products = ViewData["products"] as List<CloudDevPoe.Models.productTable>;
}
<body style="background-color: white">
@if(userID != null)
{
    <h1 style="text-align:center;" class="pageheader">Welcome @userName to KhumaloCraft Emporium</h1>
}
else
{
    <h1 style="text-align:center;" class="pageheader">Welcome to KhumaloCraft Emporium</h1>
}

<h1 style="">All of our available products</h1>

@if (products != null && products.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>In stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                        <td style="border-left: 1px solid #faa878">@product.name</td>
                    <td>R @String.Format("{0:F2}", product.price)</td>
                    <td>@product.category</td>
                    <td>@product.availability</td>
                        <td style="border-right: 1px solid #faa878">
                        @if (userID != null)
                            {                      
                            <form asp-controller="Transaction" asp-action="PlaceOrder" method="post">
                                <input type="hidden" name="userID" value="@userID" />
                                <input type="hidden" name="productID" value="@product.productID" />
                                <button type="submit">Place Order</button>
                                </form>
                            }
                            else
                            {
                                <a href="https://localhost:7248/Home/Login"><button>Login in to place order</button></a>
                            }
                        </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
        <h1 class="h1Small" style="margin-left: 185px;">No products available</h1>
}
</body>